fastapi
uvicorn[standard]
websockets
sounddevice
numpy
requests
httpx
python-multipart
pyaudiowpatch
PyAudio
openai
nvidia-riva-client
psutil
SpeechRecognition
openai-whisper
deep-translator
resampy
pyarmor
google-cloud-translate
